# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ControlWork.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\User\Desktop\cw\ControlWork\ControlWork\.idea\.idea.ControlWork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
